<!DOCTYPE html>
{% include 'partials/_head.twig' %}
<body>
    {% include 'partials/_navbar.twig' %}
    {% include 'partials/_header.twig' %}

    <img src="/resources/img/pour.png" class="pour">
    <div class="content">
        <div class="latest-update">
            {% for entry in craft.entries.section('updates').limit(1) %}
                <h2>{{ entry.title }}</h2>
                <div class="post-meta">
                    Posted on {{ entry.displayDate|date('M j, Y') }}
                </div>
                <div class="entry-content">
                    {{ entry.entry }}
                </div>
                <div class="signature">
                    <p>cheers,</p>
                    <p class="name">
                    {{ entry.signature }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="drink-feature">
            {% for entry in craft.entries.section('drinkOfTheMonth').limit(1) %}
                <a href="/drink-of-the-month/{{ entry.slug }}" target="_blank">
                    {# <img class="drink-image" src="{{ entry.image.one().url }}"> #}
                    <h3>{{ entry.title }}</h3>
                    <div class="drink-info">
                        <div class="drink-promo">
                            {{ entry.drinkPromo }}
                        </div>
                        <div class="drink-recipe">
                            {{ entry.recipe }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="cocktail-wrapper">
        <img src="https://mos.pamelamontanez.com/web/resources/img/cocktail.png" class="cocktail">
    </div>
</body>
</html>
