<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to {{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="https://mos.pamelamontanez.com/web/resources/styles.css">
    <link rel="icon" type="image/x-icon" href="https://mos.pamelamontanez.com/web/resources/img/favicon.ico">
</head>

<body class="ltr">
    <header>
        <div class="slogan">Drink at</div>
        <div class="site-name">
            <span class="star">★</span>
            <span class="logo">{{ siteName }}</span>
            <span class="star">★</span>
        </div>
    </header>
    <img src="https://mos.pamelamontanez.com/web/resources/img/pour.png" class="pour">
    <div class="content">
        {% for entry in craft.entries.section('updates').limit(15).all() %}
            <h2>{{ entry.title }}</h2>
            <div class="post-meta">
                Posted on {{ entry.displayDate|date('M j, Y') }}
            </div>
            <div class="entry-content">
                {{ entry.entry }}
            </div>
            <div class="signature">
                <p>cheers,</p>
                <p class="name">
                {{ entry.signature }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="cocktail-wrapper">
        <img src="https://mos.pamelamontanez.com/web/resources/img/cocktail.png" class="cocktail">
    </div>
</body>
</html>
